# --- Python & OS Junk ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
dist/
build/
*.egg-info/


# --- Runtime Outputs (ignore all, keep data/) ---
*.csv
*.png
*.pdf
results/
filtered_motifs_tutorial.csv

# Exception: shipped input data
!data/*.csv

# --- Notebook Results & Temporary Outputs ---
notebooks/QuickStart_pretrained/Data/
notebooks/QuickStart_pretrained/Plots/
notebooks/QuickStart_results/
notebooks/Step_by_step_res/
notebooks/*.log
notebooks/*.npy
notebooks/*.pdf

# --- Environment ---
.venv/
venv/
env/